

<h3>Primer mensaje de padre : {{ hijotexto }} </h3>
<h3>Segundo mensaje de padre :{{texto2hijo}}</h3>
<h3>Tercer mensaje de padre {{texto3hijo.materiales | json}}  </h3>
<h3>Compra de alimentos:{{elemento4hijo.cuadernos | json}} </h3>